spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/openschool
    username: openschool_user
    password: openschool_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:/db/changelog/changelog-master.yaml
    enabled: true

server:
  port: 8080

logging:
  level:
    liquibase: debug

security:
  jwt:
    secret: "VGhpcyBpcyBhIHNhbXBsZSBzZWNyZXQga2V5IHdpdGggMzIgYnl0ZXMgcGFkZGVkLg=="
    expiration-in-ms: 86400000